# Build outputs
**/Debug/
**/Release/
**/build/ 
**/blink Debug.launch

# Eclipse / CubeIDE
**/.settings/
**/.project
**/.cproject
**/.metadata/
**/.mxproject

# Object files
**/.o 
**/.a
**/.elf
**/.map
**/.lst
**/.d 

# Backup files
**/~